body {
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: #ced4da;
}

.command_window {
    max-width: 80%;
    margin-left : 10%;
}

.log_window {
    font-family: "Century";
    font-size: 120%;
    height:300px;
    border:1px solid;
    overflow:auto;
    color: black;
    background-color: #EEEEEE;
}